@model OpenWeatherMapClient.Models.OneCallResponse
@{

    var apiKey = "68247420ccab2971c4ef714b3cdefe68";
    var oneCallApi = new OpenWeatherMapClient.OneCallRequest(apiKey, OpenWeatherMapClient.Models.Enums.Language.Russian);
    var place = AkalonZeus.Services.LocationsService.GetPlaces()[0];
    var obj = oneCallApi.GetCurrentAndForecastWeather(place.Coordinates);


    ViewData["Title"] = $"Прогноз погоды в {place.Name} на неделю (7 дней)";

    var currentWeather = new CurrentWeatherViewModel()
    {
        PlaceName = place.Name,
        CurrentTime = DateTime.Now.ToShortTimeString(),
        TemperatureCelcius = (int)Math.Round(obj.CurrentWeather.Temp.Celsius),
        IconUri = obj.CurrentWeather.Weather[0].IconUri.ToString(),
        Description = obj.CurrentWeather.Weather[0].Description,
        FeelsLikeCelsius = (int)Math.Round(obj.CurrentWeather.FeelsLike.Celsius),
        Humidity = obj.CurrentWeather.Humidity + "%",
        Pressure = obj.CurrentWeather.Pressure + " гПа",
        Visibility = ((obj.CurrentWeather.Visibility) / 1000) + " км",
        WindDeg = (int)obj.CurrentWeather.WindDeg,
        WindSpeed = obj.CurrentWeather.WindSpeed.MetresPerSecond.ToString() + " м/с",
        DewPointCelsius = (int)obj.CurrentWeather.DewPoint.Celsius,
        Uvi = obj.CurrentWeather.Uvi.ToString()
    };

    var diff = (currentWeather.WindDeg + 180) - 360;
    if (diff > 0)
    {
        currentWeather.WindDeg = diff;
    }
    else
    {
        currentWeather.WindDeg = currentWeather.WindDeg + 180;
    }
}

<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-sm-12 col-lg-12 mb-4">
                <!--Now Weather-->
                <div class="card text-white w-today-bg">
                    <div class="card-body">
                        <div class="card-title mb-0">Погода в @currentWeather.PlaceName</div>
                        <p class="card-text text-muted mb-2">по состоянию на @currentWeather.CurrentTime</p>
                        <div class="card-text d-flex flex-row">
                            <span class="mr-2 w-today-temp">
                                @currentWeather.TemperatureCelcius<span>°</span>
                            </span>
                            <span class="mr-2">
                                <img class="w-today-img" src="@currentWeather.IconUri">
                            </span>
                            <span class="mr-2"></span>
                        </div>
                        <div class="w-today-condition mt-1">@currentWeather.Description</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-12 mb-4">
                <!--Today Forecast-->
                <div class="card text-black">
                    <div class="card-header bg-light">
                        <h5 class="mb-0">Погода сегодня в @place.Name</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <span class="w-today-temp">
                                    @currentWeather.FeelsLikeCelsius<span>°</span>
                                </span>
                                <br />
                                <span class="small">
                                    Ощущается как
                                </span>
                            </div>
                            <div class="col-md">
                            </div>
                        </div>


                        <div>
                            @* @obj.DailyWeatherForecasts[0].Temp.Min.Celsius/@obj.DailyWeatherForecasts[0].Temp.Max.Celsius*@
                        </div>
                        <div class="row">
                            <div class="col-md">
                                @CurrentItem("fas fa-burn", "Влажность", currentWeather.Humidity) @*Humidity*@
                                @CurrentItem("fas fa-compress", "Давление", currentWeather.Pressure) @*Pressure*@
                                @CurrentItem("fas fa-eye", "Видимость", currentWeather.Visibility) @*Pressure*@
                            </div>
                            <div class="col-md">
                                @CurrentItem("fas fa-wind", "Скорость ветра", $"<i class='wi wi-wind towards-{currentWeather.WindDeg}-deg mr-1' style='font-size:1.4rem'></i> " + currentWeather.WindSpeed) @*Wind speed*@
                                @CurrentItem("wi wi-raindrop", "Точка росы", currentWeather.DewPointCelsius + "°") @*Dew point*@
                                @CurrentItem("wi wi-day-sunny", "УФ-индекс", @obj.CurrentWeather.Uvi + "") @*UV index*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-12 mb-4">
                <!--Today Forecast-->
                <div class="card text-black">
                    <div class="card-header bg-light">
                        <h5 class="mb-0">Почасовой прогноз в @place.Name</h5>
                    </div>
                    <div class="card-body">
                        <!-- Flickity HTML init -->
                        <div class="carousel"
                             data-flickity='{ "lazyLoad": true, "freeScroll": true, "cellAlign": "left", "contain": true, "groupCells": true }'>
                            @for (int i = 0; i < 5; i++)
                            {
                                HourlyForecastCard();
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 ">
        <div class="card text-white bg-warning">
            <div class="card-body">
                <div class="card-title">Warning card title</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

</div>

@section Styles {
    <link href="@Url.Content("~/css/flickity.min.css")" rel="stylesheet" />

    <style>
        .w-today-bg {
            background-image: -webkit-gradient(linear,left top,left bottom,from(#113076),to(#135899));
        }

        .w-today-temp {
            font-size: 3rem;
            line-height: 3rem;
            font-weight: 800;
            /* color: black;*/
        }

        .w-today-img {
            width: 3rem;
            height: 3rem;
        }

        .w-today-condition {
            font-size: 1.2rem;
            font-weight: 600;
            /* color: black;*/
        }


        /* external css: flickity.css */
        .carousel {
        }

        .carousel-cell {
            height: 160px;
            width:80px;
            padding: 0;
            margin-right: 3px;
        }

        .carousel-cell-past {
            height: 300px;
            padding: 10px 0 10px 0;
        }


        /* position dots up a bit */
        .flickity-page-dots {
            bottom: -22px;
        }

            /* dots are lines */
            .flickity-page-dots .dot {
                height: 4px;
                width: 40px;
                margin: 0;
                border-radius: 0;
            }

        .flickity-enabled:focus .flickity-viewport {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
        }
    </style>
}

@section Scripts
{
    <script src="@Url.Content("~/js/flickity.pkgd.min.js")"></script>
}

@functions {

    string CurrentItem(string icon, string label, string value)
    {
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
            <div class="col position-static">
                <div class="media align-items-center">
                    <div class="avatar avatar-xl mr-3">
                        <div class="avatar-name rounded-circle bg-soft-primary text-dark">
                            <span class="fs-0 text-primary">
                                <i class='@icon'></i>
                            </span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0 d-flex align-items-center"><span class="text-800 stretched-link">@label</span></h6>
                    </div>
                </div>
            </div>
            <div class="col py-1">
                <div class="row flex-end-center no-gutters">
                    <div class="col-auto pr-2">
                        <div class="fs--1 font-weight-semi-bold">@Html.Raw(value)</div>
                    </div>
                </div>
            </div>
        </div>
        return "";
    }

    string HourlyForecastCard()
    {
        <div class="carousel-cell">
            <div class="border rounded h-100 d-flex flex-column justify-content-between pb-3">
                <div class="overflow-hidden">
                    <a style="display:block;text-decoration:none;" href="details.php?id=<?php echo $id ?>">
                        <div class="position-relative rounded-top overflow-hidden">
                            <div class="image-container-min">
                                <img class='img-fluid rounded-top carousel-cell-image' data-flickity-lazyload='$media' />
                            </div>
                            <span class="badge badge-pill badge-success position-absolute r-0 t-0 mt-2 mr-2 z-index-2">Host</span>
                        </div>
                        <div class="p-3">
                            <h5 class="fs-0 carousel-cell-title">  $title  </h5>
                            <p class="fs--1 mb-3 text-500 carousel-cell-description">  $description  </p>
                        </div>
                    </a>
                </div>              
            </div>
        </div>
        return "";
    }
}
